@charset "utf-8";

body {
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.5;
    padding-inline: 5em;
    padding-block: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: justify;
    hanging-punctuation: allow-end;
}

span {
    line-height: 2.5;
    font-feature-settings: "palt";
    letter-spacing: 0.05em;
}

.title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;
    font-feature-settings: "palt";
}

.author {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 3em;
    font-feature-settings: "palt";
}